*{
    box-sizing: border-box;
}

img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

.card-list{
    overflow: hidden;
    margin: 0 -15px;
}

.card-item{
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
    width: 25%;
}

.card-item:hover .card-footer{
    background: #1abc9c;
}

.card-img{
    background: #e9f0fd;
    height: 280px;
    position: relative;
}
.card-img img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-footer{
    overflow: hidden;
    color: #fff;
    background: #323232;
}

.card-name{
    text-transform: uppercase;
}

.card-prisce{
    float: right;
    background-color: rgba(255,255,255,.5);
}