*{
    box-sizing: border-box;
}

.content{
    width: 470px;
    height: 100%;
    margin: 0 auto;
    padding: 35px 25px;
    align-items: center;
    color: #626262;
}

.cattt{
    text-transform: uppercase;
    color: #a7a5a5;
}

p{
    text-align: justify;
}

.more{
    font-size: 30px;
    font-weight: normal;
}