.service__item{
    @extend %linkreset;
    flex: 0 0 320px;
    margin-bottom: 80px;
    padding-left: 60px;
    position: relative;
    text-align: left;

    &:nth-last-child(-n + 3){
        margin-bottom: 50px;
    }

    &-title{
        text-transform: uppercase;
    }

    &-text{
        font-family: $team-font-stack;
        font-weight: $normal;
        font-size: 15px;
        color: $gray-lite;
        padding: 0;
    }
}

.service__icon{
    &::before{
        @include pseudo;
        @include icon;
        height: 32px;
        width: 32px;
        position: absolute;
        left: 0px;
        top: 20px;
    }

    &--clock::before{
        background-image: url('../images/icon/alarn.svg');
    }
    &--web::before{
        background-image: url('../images/icon/line.svg');
    }
    &--tv::before{
        background-image: url('../images/icon/computer.svg');
    }
    &--seo::before{
        background-image: url('../images/icon/book.svg');
    }
    &--cs::before{
        background-image: url('../images/icon/home.svg');
    }
    &--dig::before{
        background-image: url('../images/icon/imeg.svg');
    }
}
