.slider__info{

    &--feat{
    font-family: $section-font-stack;
    font-size: 72px;
    color: $white;
    margin: 0 auto;
    display: initial;
    }

    &--peat{
        font-weight: $bold;
        font-size: 150px;
        color: $white;
        text-transform: uppercase;
        margin-top: 35px;
        margin-bottom: 110px;
        width: 840px;
        line-height: 1;
    }
}

.slider-info--more{
    font-weight: $bold;
    color: $white;
    width: 155px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border-color: $white;
    border-style: solid;
    border-width: 2px;
}
